@font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-Light.ttf);
    font-weight: 300;
}
 
@font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
}
 
body{
    background-color: #A1E365;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: flex;
}
 
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 50px;
    background-color: white;
    margin: 10px 20px;
    border-radius: 60px;
    width: 400px;
    margin-left: 400px;
    box-shadow: rgba(0, 0, 0, 0.575) 0px 0px 40px 0px;
 
}
 
#textos{
    margin-left: 300px;
}
 
.canto{
    display: flex;
    align-items: left;
    height: 770px;
    background-color: white;
    width: 300px;
    border-radius: 30px;
    margin-top: 10px;
    margin-top: -60px;
    border: 2px solid black;
    background-color: #AA8976;
}
 
#nav2 {
    margin-left: 80px;
    margin-top: 60px;
    font-family: 'Popping';
    font-weight: 300;
}
 
#dash{
    margin-left: 4px;
}
 
#pay{
    margin-top: 30px;
}
 
#regi{
    margin-top: 30px;
}
 
#cour{
    margin-top: 30px;
}
 
#drop{
    margin-top: 30px;
}
 
#resu{
    margin-top: 30px;
}
 
#noti{
    margin-top: 30px;
}
 
#sche{
    margin-top: 30px;
}
 
#log{
    margin-top: 55px;
}
 
#i1{
    margin-right: 10px;
}
 
#i2{
    margin-right: 6px;
}
 
#i3{
    margin-right: 6px;
}
 
#i4{
    margin-right: 6px;
}
 
#i5{
    margin-right: 6px;
}
 
#i6{
    margin-right: 6px;
}
 
#i7{
    margin-right: 6px;
}
 
#i8{
    margin-right: 6px;
}
 
#i9{
    margin-right: 6px;
}
 
#img1{
    width: 150px;
}
 
#moldura{
    width: 50px;
    margin-left: 900px;
}
 
#textom{
    margin-left: 960px;
    margin-top: -53px;
    font-family: 'Poppins';
    font-weight: 300;
}
 
#sino{
    width: 50px;
    height: 50px;
    margin-left: 290px;
}